// Core variables and mixins
@import "variables.less";
@import "../lib/bootstrap/less/mixins.less";

// Reset
@import "../lib/bootstrap/less/normalize.less";
@import "../lib/bootstrap/less/print.less";

// Core CSS
@import "../lib/bootstrap/less/scaffolding.less";
@import "../lib/bootstrap/less/type.less";

blockquote {
  padding: (@line-height-computed / 2) @line-height-computed;
  margin: 0 0 @line-height-computed;
  font-size: @blockquote-font-size;
  border-left: 0px;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@import "../lib/bootstrap/less/code.less";
@import "../lib/bootstrap/less/grid.less";
@import "../lib/bootstrap/less/tables.less";
@import "../lib/bootstrap/less/forms.less";
@import "../lib/bootstrap/less/buttons.less";

.btn {
    border-radius: 0px;
}

// Components
@import "../lib/bootstrap/less/component-animations.less";
@import "../lib/bootstrap/less/glyphicons.less";
@import "../lib/bootstrap/less/dropdowns.less";
@import "../lib/bootstrap/less/button-groups.less";
@import "../lib/bootstrap/less/input-groups.less";
@import "../lib/bootstrap/less/navs.less";
@import "../lib/bootstrap/less/navbar.less";
@import "../lib/bootstrap/less/breadcrumbs.less";
@import "../lib/bootstrap/less/pagination.less";
@import "../lib/bootstrap/less/pager.less";
@import "../lib/bootstrap/less/labels.less";
@import "../lib/bootstrap/less/badges.less";
@import "../lib/bootstrap/less/jumbotron.less";
@import "../lib/bootstrap/less/thumbnails.less";

.thumbnail {
  display: block;
  padding: @thumbnail-padding;
  margin-bottom: @line-height-computed;
  line-height: @line-height-base;
  background-color: @thumbnail-bg;
  border: 0px;
  border-radius: @thumbnail-border-radius;
  .transition(all .2s ease-in-out);

  > img,
  a > img {
    &:extend(.img-responsive);
    margin-left: 0;
    margin-right: 0;
  }

  // Add a hover state for linked versions only
  a&:hover,
  a&:focus,
  a&.active {
    border-color: @link-color;
  }

  // Image captions
  .caption {
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
    font-style: italic;
  }
}


@import "../lib/bootstrap/less/alerts.less";
@import "../lib/bootstrap/less/progress-bars.less";
@import "../lib/bootstrap/less/media.less";
@import "../lib/bootstrap/less/list-group.less";
@import "../lib/bootstrap/less/panels.less";
@import "../lib/bootstrap/less/wells.less";
@import "../lib/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../lib/bootstrap/less/modals.less";
@import "../lib/bootstrap/less/tooltip.less";
@import "../lib/bootstrap/less/popovers.less";
@import "../lib/bootstrap/less/carousel.less";

// Other imports
@import (less) "../lib/bigfoot-js/styles/bigfoot-number.css";

// Utility classes
@import "../lib/bootstrap/less/utilities.less";
@import "../lib/bootstrap/less/responsive-utilities.less";

#wrapper {
    .make-row();
}

.navbar-brand {
  border-right: 1px solid #eeeeee;
}

.section-link {
  font-size: @font-size-small;
  max-width: 220px;
  .text-overflow();
}

.home {
    .make-lg-column(8);
    .make-lg-column-offset(2);    
}

.bodytext {
    .make-lg-column(6);
    .make-lg-column-offset(2);
    padding-top: 80px;
    padding-bottom: 6em;
}

#intro {

    .text-center;
    padding-top: 80px;
}

#highlight {
    .make-row();
}

.img-left {
    .make-lg-column(6);
    img {
        .img-responsive;
        .hidden-xs;
        -webkit-transform: rotate(-15deg);
    }
}

.excerpt {
    .make-lg-column(6);
}

#backfile {
    padding-top: 40px;
}

#posts-list {
    .list-unstyled;
    padding-top: 20px;
    li {
        padding: 10px 8px;
        border-bottom: 1px solid #eeeeee;
        .date-span {
            .pull-right;
        }
    }
}

#about {
    padding-top: 40px;
}

.about-part {
    .make-lg-column(4);
}

.about-bio {
    .make-lg-column(12);
}

.post-metadata {
    margin: @line-height-computed;
}

.post-authors {
    .list-unstyled;
}

.section-head {
    margin-top: 2em;
}

.section-head:before {
  display: block;
  content: ' ';
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
}

.article-img {
    .img-responsive;
    .thumbnail;
    .hidden-xs;
}

.preview-next {
    .well;
    margin-top: 2em;
}

footer {
    padding-top: 40px;
    padding-bottom: 60px;
    .make-lg-column(12);
    }
    
/* Print Style Sheet */
@media print {

body, #content, #container {
   width: 100%;
   margin: 0;
   background: white;
}

#header, #footer, #nav, .noprint {
   display: none; 
}

body {
   font: 12pt Georgia, "Times New Roman", Times, serif;
   color: #000; 
}

h1,h2,h3,h4,h5,h6 {
   font-family: Helvetica, Arial, sans-serif;
   color: #000;
}
h1 { font-size: 250%; }
h2 { font-size: 175%; }
h3 { font-size: 135%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 90%;  }

a:link, a:visited {
   color: #00c;
   font-weight: bold;
   text-decoration: underline; }
#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
}}