---
title: Home | Curating Menus
layout: default
---

  <section id="title" class="front-page-section">
    <div class="site-splash">
      <h1>Curating Menus</h1>
      <div class="lede">
        <p>We are scholars researching questions about food and culture using the historical menu collections from the New York Public Library.
        </p>
      </div>
    </div>
    <div class="more">
      <a href="#highlight"><span id="down-arrow"></span></a>
    </div>
  </section>


    <section id="highlight" class="front-page-section">
    {% for post in site.posts %}
        {% if post.featured %}
        <figure>
            <img src="{{ post.key_image }}">
        </figure>
        <div class="excerpt">
            <h3>
            <small>Featured</small><br />
            {{ post.title }}
            </h3>
            <p>{{ post.lede }}</p>
            <a href="{{ post.url }}">Read more</a>
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <section id="data_dictionary" class="front-page-section">
        <h4><a href="/data_dictionary">Data Dictionary</a></h4>
        <p>A reference resource for those interested in using the open data from the New York Public Library's menu transcription project.</p>
    </section>


    <section id="backfile" class="front-page-section">
        <h4>More Posts</h4>
        <table class="table">
            {% for post in site.posts %}
                {% capture outbound_link %}
                    {{ post.external_url }}
                {% endcapture %}
                {% unless post.featured %}
                    {% if outbound_link %}
                    <tr>
                        <td>
                        <div class="tabletext">
                        <a href="{{ outbound_link }}" onclick="trackOutboundLink(‘{{ outbound_link }}’); return false;">{{ post.title }}</a>
                        </div>
                        </td>
                        <td>
                        <span class="date-span">{{ post.date | date: "%B %e, %Y" }}</span></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>
                        <div class="tabletext"><a href="{{ post.url }}">{{ post.title }}</a></div>
                        </td>
                        <td>
                        <span class="date-span">{{ post.date | date: "%B %e, %Y" }}</span></td>
                        </tr>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </table>
    </section>
    <section id="about" class="front-page-section">
        <div class="about-part">
            <h4>
            <small>About</small><br />
            The Collection
            </h4>
            <p>The <a href="http://legacy.www.nypl.org/research/chss/grd/resguides/menus/index.html">New York Public Library Rare Book Division</a> holds over 45,000 historical menus. About half of these were collected and curated by Frank E. Buttolph between 1900 and 1921. The menus date from the 1850s to the present and include menus from restaurant, railroad and steamship companies, as well as a range of other organizations. </p>
        </div>
        <div class="about-part">
            <h4>
            <small>About</small><br />
            The Crowd
            </h4>
            <p>Beginning in 2011, menus from the NYPL's collection were digitized and transcribed with the help of thousands of volunteers. Through the NYPL’s <a href="http://menus.nypl.org/">What’s on the Menu?</a> project, volunteers looked at digitized copies of the menus and typed in the many pieces of information included on each one, such as restaurant names, locations, dishes, prices, and dates. </p>
            </div>
        <div class="about-part">
            <h4>
            <small>About</small><br />
            The Data
            </h4>
            <p>The <em>What's on the Menu?</em> project makes all the data from its crowdsourced transcriptions available via <a href="http://menus.nypl.org/data">bulk downloads</a> and via an <a href="http://nypl.github.io/menus-api/">application programming interface (API)</a>. The current data set includes around 400,000 data points from the transcription project and the library's metadata on the over 17,000 menus digitized so far.</p>
        </div>
    </section>
    <section id="bio" class="front-page-section">
        <div class="about-bio">
            <h4>
             <small>About</small><br />
                The Researchers
            </h4>

            <p><strong>Katie Rawson</strong> is the CLIR Bollinger Fellow in Library Innovation at the University of Pennsylvania, where she supports digital scholarship. She holds a PhD from the interdisciplinary Graduate Institute for the Liberal Arts at Emory University and an MA in English from the University of Mississippi. In addition to her dissertation, “Pimento Cheese and Podcasts: Producing and Consuming Stories about Food in the Contemporary U.S. South,” she has published and presented on food in Faulkner, gender in cookbooks, labor at Waffle House, and open-access publishing in the academy.</p>
            <p><strong>Trevor Muñoz</strong> is Assistant Dean for Digital Humanities Research at the University of Maryland Libraries and an Associate Director of the Maryland Institute for Technology in the Humanities (MITH). Trevor holds an MA in Digital Humanities from the Department of Digital Humanities at King's College London and a MS in Library and Information Science from the Graduate School of Library and Information Science at the University of Illinois, Urbana-Champaign. He works on developing digital research projects and services at the intersection of digital humanities centers and libraries. Trevor's research interests include electronic publishing and the curation and preservation of digital humanities research data.</p>
        </div>
    </section>
</div>
