<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Trevor Muñoz">
    <meta name="author" content="Katie Rawson">
    <meta name="description" content="A mini-site about digital humanities research on historic menus.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
    <link rel="stylesheet" href="css/theme.css" type="text/css">