<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="collapse" id="navbarCollapsedContent">
    <div class="inner-nav">
      <ul class="inner-nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/#highlight">Featured</a></li>
        <li><a href="/#backfile">More Posts</a></li>
        <li><a href="/data_dictionary">Data Dictionary</a></li>
      </ul>
    </div>
  </div>
  <a class="navbar-brand" href="/">Curating Menus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsedContent">
    &#9776;
  </button>
</nav>
