<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        {% include header.html %}
    </head>
    <body data-spy="scroll" data-target="#article-navbar-collapse-1" data-offset="160px">
        <div id="wrapper">

            {% include article_nav.html %}

            <div class="bodytext">
                {{ content }}
            </div>
            <div id="push"></div>
        </div>

            {% include footer.html %}
            
    </body>