// Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400italic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// Core variables and mixins
@import 'theme_variables';
@import '../../bower_components/bootstrap/scss/mixins';

// // Reset and dependencies
@import '../../bower_components/bootstrap/scss/normalize';
@import '../../bower_components/bootstrap/scss/print';

// Core CSS
@import '../../bower_components/bootstrap/scss/reboot';
@import '../../bower_components/bootstrap/scss/type';
@import '../../bower_components/bootstrap/scss/images';
//@import '../../bower_components/bootstrap/scss/code';
@import '../../bower_components/bootstrap/scss/grid';
@import '../../bower_components/bootstrap/scss/tables';
//@import '../../bower_components/bootstrap/scss/forms';
@import '../../bower_components/bootstrap/scss/buttons';

// // Components
//@import '../../bower_components/bootstrap/scss/animation';
//@import '../../bower_components/bootstrap/scss/dropdown';
//@import '../../bower_components/bootstrap/scss/button-group';
//@import '../../bower_components/bootstrap/scss/input-group';
//@import '../../bower_components/bootstrap/scss/custom-forms';
@import '../../bower_components/bootstrap/scss/nav';
@import '../../bower_components/bootstrap/scss/navbar';
//@import '../../bower_components/bootstrap/scss/card';
//@import '../../bower_components/bootstrap/scss/breadcrumb';
//@import '../../bower_components/bootstrap/scss/pagination';
//@import '../../bower_components/bootstrap/scss/pager';
//@import '../../bower_components/bootstrap/scss/labels';
//@import '../../bower_components/bootstrap/scss/jumbotron';
@import '../../bower_components/bootstrap/scss/alert';
//@import '../../bower_components/bootstrap/scss/progress';
@import '../../bower_components/bootstrap/scss/media';
//@import '../../bower_components/bootstrap/scss/list-group';
//@import '../../bower_components/bootstrap/scss/responsive-embed';
//@import '../../bower_components/bootstrap/scss/close';

// Components w/ JavaScript
//@import '../../bower_components/bootstrap/scss/modal';
//@import '../../bower_components/bootstrap/scss/tooltip';
//@import '../../bower_components/bootstrap/scss/popover';
//@import '../../bower_components/bootstrap/scss/carousel';

// Utility classes
@import '../../bower_components/bootstrap/scss/utilities';
@import '../../bower_components/bootstrap/scss/utilities-spacing';
@import '../../bower_components/bootstrap/scss/utilities-responsive';

// Bigfoot.js
@import '../../bower_components/bigfoot/dist/bigfoot-number';

// Theme
@import 'theme_mixins';
@import 'base_page';
@import 'theme_nav';
@import 'article';
@import 'data_dictionary';
@import 'front_page';


body:before {
  content: none;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

footer {
  @include make-container();
  background-color: $dark;
  color: $gray-lightest;
  margin-left: 0;
  margin-right: 0;
  min-height: 12rem;
  position: relative;

  a {
    color: lighten($teal, 15%);
  }

  p {
    padding-top: 1.414rem;

    @include media-breakpoint-up(lg) {
      bottom: 1.414rem;
      position: absolute;
      right: 1rem;
      width: 44rem;
    };
  }
}

header {
  @include make-row();
}
